.vscode/
build/
__pycache__
Binary_Code_GT_Generator/Generate_Mesh_with_GT_Color/pcl*
Binary_Code_GT_Generator/Render_GT_Color_Mesh_to_GT_Img/glfw*
Binary_Code_GT_Generator/Render_GT_Color_Mesh_to_GT_Img/render_related_source/glad
Binary_Code_GT_Generator/Render_GT_Color_Mesh_to_GT_Img/render_related_source/eigen*
.DS_Store

6dof_pose_experiments/
ZebraPose.code-workspace